{% extends 'base.html.twig' %}

{% block body %}
    {% include 'components/navigation.html.twig' %}
    <main class="flex-shrink-0">
        {% block content %}{% endblock %}
    </main>
{% endblock %}